# Habilitar reescrita de URLs
RewriteEngine On

# Redirecionar URLs com .html para URLs sem .html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

# Remover a extensão .html e procurar o arquivo correspondente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ $1.html [L,QSA]
